<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>vue - 模板语法</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script>
    window.onload = function () {
      new Vue({
        el: '#app',
        data: {
          message: 'hello world',
          title: 'haha',
          htmlStr: '<h1>hello world</h1>',
          disabled: true,
          seen: true
        },
      })
    }
  </script>
</head>

<body>
  <!-- 
    解决表达式闪烁的问题：
      1. 在要渲染处理的 DOM 节点上添加一个指令 v-cloak
      2. 在 style 中加入一个属性选择器样式：[v-cloak] { display: none; }
      执行机制：
        当浏览器解析处理到添加了 v-cloak 属性的节点的时候，属性样式被作用上来，也就是说默认这个容器就是隐藏着的
        然后当 Vue 程序解析渲染完HTML模板的时候，自动将容器上的 v-cloak 属性移除
   -->
  <div id="app" v-cloak>
    <div v-bind:title="message">132</div>
    <input type="text" v-model="message">
    <input type="text" v-model="title">
    <p>{{ message }}</p>
    <p v-once>{{ message }} <span>{{ title }}</span></p>
    <div>
      {{ htmlStr }}
    </div>
    <div v-html="htmlStr">
    </div>
    <div>
      <input type="checkbox" v-model="disabled">
      <button v-bind:disabled="disabled">禁用的按钮</button>
    </div>
    <div>
      <p v-bind:title="'str' + 'aaa'">我是一个 p 标签</p>
      <p>{{ 'str' }}</p>
    </div>
    <div>
      <input type="checkbox" v-model="seen">
      <p v-if="seen">你看不见我</p>
    </div>
    <div>
      <p>{{ message }}</p>
      <p v-text="message"></p>
    </div>
  </div>
</body>

</html>

